# ignore programme binary, object files and dSYM directory
bin/faststi
bin/blossom5
bin/*.o
bin/faststi.dSYM/
faststi
blossom5

# ignore test results
bin/output_*
output/
tmp*
*.gz
results*
TabulatedResults*.ods

# ignore R session files
.RData
.Rhistory

# ignore files created by fitting
inputToFaststi.csv
outputFromFaststi.csv
tmp*
bestParmsInitial.csv
finalFittedParms.txt
FaststiInput.txt
FaststiOutput.csv
*.nb.html


# ignore backup and swap files created by Emacs and VIM
*~
'#'*
*.swp

# ignore Blossom V source which is not redistributable
blossom5-v1.0.src/

# ignore generated graph files for Blossom V
bv_*

# ignore analysis output (add csv and pdf files explicitly)
*.pdf
*.csv

# ignore Mac cruft
.DS_Store
